body{
    margin: 0%;
    padding: 0%;
    font-family: Arial;
    font-size: 15px;
    background-color:rgba(12, 50, 58)
}


.head-container{
    text-align: center;
    margin: 0%;
    padding: 0%;
    background-color: rgb(78, 159, 175);
}

img{
    width: 50%;
    height: 10%;
}

.main-container{
    color: rgb(12, 50, 58);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}

.container{
    background-color:rgba(184, 212, 243, 0.856);
    margin: 10px;
    padding: 10px;
    gap: 15px;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}
